<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLzz48z4jacCD4yKfYnyqnKffHLa1uD8o</string>
	<key>GCM_SENDER_ID</key>
	<string>640961029868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FreshHacks2023.roombee</string>
	<key>PROJECT_ID</key>
	<string>roombee-751f7</string>
	<key>STORAGE_BUCKET</key>
	<string>roombee-751f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640961029868:ios:256284bb2f31c205b667c9</string>
</dict>
</plist>